<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="Thu, 01 Dec 1994 16:00:00 GMT">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script src="js/vue.min.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <title>
	{{ .title }}
    </title>
  </head>
  <body>
    <p class="title center" style="height: 50px;">
        {{ .title }}
    </p>
    <hr style="width: 100%; color: #3366ff;">
    <p class="center" style="height: 100px;"> </p>
    <p>
        <div class="center" id="app">
        </div>
    </p>
    <script src="js/index.js"></script>
  </body>
</html>

